html {
    background-color:    #2D2D34;
    font-family: "Mulish", sans-serif;
    color:  #d6d1d8;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

a:link {
  color:     #0381A0;
}

a:visited {
  color:    #52B2CF;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
    font-family: "Special Elite", serif;
    text-align: center;
}

h2 {
  font-family: "Special Elite", serif;
}

h3 {
  font-family: "Special Elite", serif;
  text-decoration-line: underline;
}

/* nav styles */
.hamburger {
    padding-right: 20px;
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #B86F52;
}

.nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #ff9776;
    display: none;
    margin: auto;
    /*text-align: center;*/
}

.nav-links a {
    display:inline-block;
    text-align: center;
    /*padding: 10px;*/
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: "Special Elite", serif;
    margin: auto;
}

.nav-links a:hover,
.nav-links a:focus {
    background-color:  #484853;
    border-radius: 10px;
}

.expanded {
    display: unset;
}

.blogPost {
  border-radius: 25px;
  background: #484853;
  padding: 10px 30px;
  margin: 20px 5px;
}

@media screen and (min-width: 636px) {
    .nav-links {
        margin-left: 5em;
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger {
        display: none;
  }
}
