---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>Information Magpie</h1>
    <h2>About the Author</h2>
    <p>
      I am a lesbian, masters student in information, voracious reader,
      thoughtful writer, and all around curious person.
    </p>
    <p>
      I am working through Astro's introductorial tutorial slowly but surely as
      I make my first steps towards creating my very own <a
        href="https://maggieappleton.com/garden-history/">digital garden</a
      >. Check back often for updates!
    </p>
  </body>
</html>
