---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About the Author";
---
<style>
  .greyBack {
    border-radius: 25px;
    background: #484853;
    padding: 10px 30px;
    margin: 20px 5px;
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <div class="greyBack">
    <p>I am a butch lesbian, a nerd, and a recently graduated Master of Information. I am fat, I am weird,
      and I have opinions. This blog is hopefully a place where I will air those opinions more regularly.</p>
    <p>I love to read, write, code, cook, paddleboard, and play TTRPGs. Not necessarily in that order.</p>
    <p>I care very strongly about community, freedom of information, anticapitalism. I read mostly science fiction, fantasy, and fanfiction, though I always have at least one nonfiction book going as well. Check the blog to see what I'm currently reading.</p>
    <p>I have two cats, Billy and Furiosa, and a dog, Moth.</p>
    <p>I will never use AI on this blog.</p>
  </div>
</BaseLayout>
