---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
allPosts.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate));
const pageTitle = "Blog";
---

<BaseLayout>
    {allPosts.map((post: any) =>
      <h3><a href={post.url}>{post.frontmatter.title}</a></h3>
      <p>{post.frontmatter.pubDate.toString().slice(0,10)}</p>
      <p>{post.frontmatter.description}</p>
      <hr>
    )}
</BaseLayout>
