---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home";
---
<style>
  .greyBack {
    border-radius: 25px;
    background: #484853;
    padding: 10px 30px;
    margin: 20px 5px;
  }
</style>
<BaseLayout pageTitle={pageTitle}>
<div class="greyBack">
  <p>Welcome to my digital garden!</p>
  <p>This website is a place for me to share what I'm experiencing, working on, thinking about, and writing about. There may not be much here yet, but keep checking back--or subscribe to my blog via <a href="/rss.xml">RSS</a> and you'll find some pretty cool stuff... eventually.</p>
</div>
</BaseLayout>
