---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Welcome to my digital garden!</p>
  <p>This website is a place for me to share what I'm working on, thinking about, and writing about. There may not be much here yet, but keep checking back and you'll find some pretty cool stuff.</p>
</BaseLayout>
