---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "Now";
---

<BaseLayout>
  <p>This page lets you know what I'm currently up to or thinking about!</p>
  <ul>
    {allPosts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
  </ul>
</BaseLayout>
