---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "Now";
---
<style>
  .greyBack {
    border-radius: 25px;
    background: #484853;
    padding: 10px 30px;
    margin: 20px 5px;
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <div class="greyBack">
    <p><i>Last updated June 16, 2025</i></p>
    <p>I recently graduated with a Masters in Information from Rutgers University, so I have to admit that I find myself a little aimless at the moment, and focused on finding things that I want to do after three years of full time work and part time school.</p>
  </div>
  <div class="greyBack">
    <h3>This Website</h3>
    <p>I am in the process of finalizing this website and figuring out what the hell I want to use it for. I want to write and learn in public, and connect to the small web, but I’m honestly not sure what that will look like going forward. Maybe there will be fiction tidbits, maybe I’ll write more personal essays. I really want to get in the habit of writing for myself instead of for a class again, in whatever form that takes.</p>
    <p>I’m also trying to find copies of my personal essays that I wrote during the pandemic. I know I posted them somewhere, and have scrivener files that contain them, but it’s hard to dig them out.&nbsp;</p>
  </div>
  <div class="greyBack")>
    <h3>The Warblight</h3>
    <p>My homebrew Pathfinder 2e game with my friends, in which five adventurers journey into a magical fallout zone on behalf of an outside aid organization and reckon with the best ways to help peoples whose lives were irrevocably changed, and then abandoned as monsters for the intervening 20 years.</p>
  </div>
  <div class="greyBack">
    <h3>Digital Art</h3>
    <p>I’m teaching myself to draw in Krita.</p>
  </div>
  <div class="greyBack">
    <h3>Reading</h3>
    <h4><a href="https://app.thestorygraph.com/books/57179924-a98b-4c8a-abb1-f2b39cb030f94" >The Speed of Dark</a> by Elizabeth Moon</h4>
    <p>Sci-fi from an autistic person's perspective where the main character's job is being threatened if he doesn't participate in trials of a new treatment that promise to make him "normal." I know that the saying "If you've met one person with autism... you've met one person with autism," but I really wonder if my autistic friends would recognize themselves in this portrayal, since Lou is portrayed as understanding much less about the people he is around than my friends who identify that way do--though perhaps this is much more intense autism than they experience. I'm enjoying the book, but I worry that it's perhaps a little paternalistic towards its subject.</p>
    <h4><a href="https://app.thestorygraph.com/books/2c4a4163-a74c-40c6-ad5d-ddd309fcbfd9">Steering the Craft</a> by Ursula K. LeGuin</h4>
    <p>I've only read the introduction so far, but I hope that this will get my creative writing juices flowing some.</p>
  </div>
  <div class="greyBack">
    <h3>Playing</h3>
    <h4>Baldur’s Gate 3</h4>
    <p>Both with my wife, where I play a butch drow, and solo, where I’ve recreated my first ever D&amp;D character, Welris, a scrungly middle-aged wizard of a gnome.</p>
    <h4>Coral Island</h4>
    <p>Like Stardew Valley, but I can help clean up the oceans! Very cute and relaxing.</p>
  </div>
</BaseLayout>
