---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Now";
---

<BaseLayout>
  <p>This page lets you know what I'm currently up to or thinking about!</p>
  <ul>
    <li><a href="/posts/post-1/">Post 1</a></li>
    <li><a href="/posts/post-2/">Post 2</a></li>
    <li><a href="/posts/post-3/">Post 3</a></li>
  </ul>
</BaseLayout>
