---

---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>
    See what I'm reading & become my reading buddy on <a
      href={`https://app.thestorygraph.com/profile/bridgebury`}>StoryGraph</a
    >!
  </p>
</footer>
